<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202856458385-qe6atua6ivfdq3vqj2901fq5n905i6iv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202856458385-qe6atua6ivfdq3vqj2901fq5n905i6iv</string>
	<key>API_KEY</key>
	<string>AIzaSyARpYy7cv709BofWPHVdS9KHDfKsJ_j9Mk</string>
	<key>GCM_SENDER_ID</key>
	<string>202856458385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactjs.native.Barber</string>
	<key>PROJECT_ID</key>
	<string>barber-d5204</string>
	<key>STORAGE_BUCKET</key>
	<string>barber-d5204.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202856458385:ios:dcf148425149bd3d</string>
	<key>DATABASE_URL</key>
	<string>https://barber-d5204.firebaseio.com</string>
</dict>
</plist>